.about{
	display: flex;
	flex-direction:row;
}

.bio-image{
	margin-right: 5%;
	line-height: 2.7rem;
	width: 50%;
}

.bio-text{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	width: 45%;

}

.bio-text p:first-of-type{
	margin-top: -6px;
	&::first-line{
		color:$themeColor;
		font-weight: bold;
	}
}

p.image-caption {
	color: $paleColor;
	font-size: 1.4rem;
}