.contact__info{
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	.contact__info--details{
		display: flex;
		flex-direction:column;
		justify-content:space-between;
		width: 30%;
		margin-right: 90px;
	}
	.contact__info--form{
		width: 70%;
	}
}

