.cv{
	background-color:rgba($paleColor, .4);
	padding: 5% 0;
}

.cv__items{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	width: 100%;
	margin-top:2%;
}

.cv__items--content{
	width: calc(80% - 20px);
	margin-right: 20px;
	&:last-child{
		width: 20%;
	}
}