.gallery{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	flex-wrap:wrap;
}

.gallery__item{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
}

figure{
	width: 50%;
	img{
		display: block;
	}
}

figcaption{
	width: 50%;
	padding: 20px;
	border: 1px dotted #000;
	color:$themeColor;
	a{
		color:$themeColor;
		text-decoration: underline;
		&:hover{
			color:$paleColor;
		}
	}
}

// figure{
// 	position:relative;
// 	a:hover {
// 		color: #fff;
// 	} 
// 	img{
// 		display: block;
// 	}
// 	figcaption{
// 		background: rgba(39, 47, 204, .7);
// 		position: absolute;
// 		display: flex;
// 		flex-direction:column;
// 		justify-content:flex-end;
// 		align-items:flex-start;
// 		top:0;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		transition: all 0.5s;
// 		opacity: 0;
// 		p{
// 			font-size: 1.6rem;
// 			text-align: left;
// 			text-decoration: underline;
// 		}
// 		p:nth-child(2){
// 			font-size: 1.4rem;
// 			text-decoration: none;
// 		}

// 	}
// 	&:hover figcaption{
// 		display: block;
// 		opacity: 1;
// 		display: flex;
// 		flex-direction:column;
// 		justify-content:flex-end;
// 		align-items:flex-start;
// 		}
// }





