.gallery{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	flex-wrap:wrap;
}

.gallery__item{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	margin-bottom: 30px;
	&:nth-child(2n+2){
		text-align: right;
	}
	@media (max-width: 940px) {
		display: flex;
		flex-direction:column;
		flex-wrap:wrap;
		&:nth-child(2n+2){
			text-align: left;
		}
	}
}

.portfolio-skills{
	li{
		font-size: 1.4rem;
			.portfolio-skills__items{
				margin-bottom:30px;
			}
		}
	}


figure{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	padding: 30px;
	width: 50%;
	img{
		width: 80%;
	}
	@media (max-width: 940px){
		width: 100%;
		&:nth-child(2n){
			order:-1;
		}
	}

}

.larger-figure img{
	width: 90%;
}

figcaption{
	width: 50%;
	padding: 30px;
	color:$themeColor;
	h3{
		padding-bottom: 5px;
	}
	@media (max-width: 940px){
		width: 100%;
	}
}







