@mixin header-style($font-family, $font-color, $font-size){
	font-family: $font-family;
	color:$font-color;
	font-size:$font-size;
	margin: 0;
}

//heading styles

h1 { 
	@include header-style($majorFont, $bodyColor, 2.4rem);
	flex-grow:1;
	@media (max-width: 940px){
		@include header-style($majorFont, $bodyColor, 2rem);
	}
} 

.type-feature{
	background-color: $themeColor;
	color:#fff;
	padding: 2px 6px; 
	margin-right: 4px;
}

h2{
	@include header-style($majorFont, $bodyColor, 4.8rem);
	margin-bottom: 40px;
	@media (max-width: 940px){
		@include header-style($majorFont, $bodyColor, 3.8rem);
		margin-bottom: 45px;
	}
}

h3 { 
	@include header-style($altFont, $themeColor, 2.4rem);
} 

h3.skills__section--item {
	@include header-style($altFont, $themeColor, 1.4rem);
	margin-top: 15%;
}

h4{
	@include header-style($bodyFont, $themeColor, 1.8rem);
	line-height:2.7rem;
}

h5{
	@include header-style($altFont, $themeColor, 1.6rem);
	margin: 30px 0 10px;
}

//paragraph styles
p{
	margin: 0;
	padding: 0;
	line-height: 2.5rem;
}

//link styles

a{
	color: $themeColor;
	transition: all .3s;
	font-size: 1.4rem;
	&:hover{
		color:$bodyColor;
	}
}

a.button{
	border: 3px solid $themeColor;
	display: inline-block;
	padding: 10px 30px;
	background-color: $themeColor;
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	&:hover{
		background-color: rgba(255,255,255, 0);
		border: 3px solid $themeColor;
		color:$themeColor;
	}
	@media (max-width: 940px){
		padding: 10px 35px;
	}
}



//menu styles

nav li a{
	text-decoration: none;
	color:$bodyColor;
	&:hover{
		color: $themeColor;
		text-decoration: line-through;
	}
}

//special type styles

.tagline{
	@include header-style($majorFont, $bodyColor, 4.8rem);
	line-height: 6.2rem;
	padding-top: 80px; 
	@media (max-width: 940px){
		font-size:3.8rem;
		line-height: 5.3rem;
		padding-top: 55px; 
	}
	@media (max-width: 768px){
		font-size: 2.8rem;
		line-height: 4rem;
		padding-top: 40px;
	}
} //blockquote

.cv-promo{
	@include header-style($majorFont, $bodyColor, 4.8rem);
	line-height: 6.2rem;
	@media (max-width: 940px){
		@include header-style($majorFont, $bodyColor, 3rem);
	}
}

