$themeColor:#272fcc; //blue
$bodyColor:#000; //black
$mediumColor: #666;
$paleColor: #dadada; //pale grey  (alternatively)
$accentColor:#f2e7e6; 


$majorFont: 'Archivo Black', sans-serif;
$bodyFont: 'Roboto Mono', monospace;
$altFont: 'Rubik', sans-serif;

